---
layout: default
---

<div class="home">
  <div id="image-gallery" class="image-gallery" >
    <div id="gallery-sizer" class="gallery-sizer"></div>
    {% for item in page.pictures %}
    <div class="image-wrapper">
      <a href="{{ site.url }}{{ site.baseurl }}/assets/{{page.path}}/{{ item.original }}"
      data-responsive="{% for size in item.sizes %} {{ site.url }}{{ site.baseurl }}/assets/{{page.path}}/{{ size }} {{ size | split: '-' | last | split: '.' | first | split: 'x' | first | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}" class="image"
      {% if item.title %} data-sub-html="<div class='lg-toolbar caption'><h4>{{ item.title | escape }}&nbsp;&nbsp;&nbsp;{% if item.datasheet %}<a target='_blank' href='{{ site.url }}{{ site.baseurl }}/assets/{{page.path}}/{{ item.datasheet }}'>[Ficha técnica]</a>{% endif %}</h4>{% if item.caption %}<p>{{ item.caption | escape }}</p>{% endif %}</div>"{% endif %}>
        <img alt="{{ item.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/{{page.path}}/{{ item.thumbnail }}" />
      </a>
    </div>
    {% endfor %}
  </div>

  <script>
    $(document).ready(function() {
      var $gallery = $("#image-gallery").lightGallery({
        thumbnail: false,
        selector: '.image'
      });
    });
    // init isotope
    var $grid = $('#image-gallery').isotope({
      percentPosition: true,
      columnWidth: '#gallery-sizer',
      itemSelector: '.image-wrapper',
      layoutMode: "masonry"
    });
    // layout Isotope after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry();
    });
  </script>
</div>
