---
layout: default
---

<div class="home">

  <!--
  <h1 class="page-heading">Posts</h1>
  -->
  {{ content }}

  <ul class="post-list">
    {% if site.art.size > 0 %}
      {% for art in site.art %}
        <li onclick="location.href='{{ art.url | relative_url }}';">
            <h2>
              <a class="post-link" href="{{ art.url | relative_url }}">{{ art.title | escape }}</a>
              <a class="post-meta post-meta-list">{{ art.date | date: "%b %-d, %Y" }}</a>
            </h2>
          {% if site.show_excerpts == "enabled" %}
            <hr class="headliner">
            {{ post.excerpt }}
          {% endif %}
        </li>
      {% endfor %}
    {% else %}
      <li class="noposts">No items yet. Please wait until I decide to show anything. In the meanwhile, you can read my blog.</li>
    {% endif %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
